<div class="scientific-btns" id="scientificBtns">
    <button class="btn btn-function" onclick="appendFunction('sin(')" data-value="sin">sin</button>
    <button class="btn btn-function" onclick="appendFunction('cos(')" data-value="cos">cos</button>
    <button class="btn btn-function" onclick="appendFunction('tan(')" data-value="tan">tan</button>
    <button class="btn btn-function" onclick="appendFunction('log(')" data-value="log">log</button>
    <button class="btn btn-function" onclick="appendFunction('ln(')" data-value="ln">ln</button>
    <button class="btn btn-function" onclick="appendFunction('sqrt(')" data-value="√">√</button>
    <button class="btn btn-function" onclick="appendFunction('^')" data-value="^">x^y</button>
    <button class="btn btn-function" onclick="appendFunction('abs(')" data-value="abs">|x|</button>
    <button class="btn btn-function" onclick="appendToDisplay('3.14159')" data-value="π">π</button>
    <button class="btn btn-function" onclick="appendToDisplay('2.71828')" data-value="e">e</button>
    <button class="btn btn-function" onclick="appendFunction('asin(')" data-value="asin">asin</button>
    <button class="btn btn-function" onclick="appendFunction('acos(')" data-value="acos">acos</button>
    <button class="btn btn-function" onclick="appendFunction('atan(')" data-value="atan">atan</button>
    <button class="btn btn-function" onclick="toggleAngleMode()" id="angleMode" data-value="deg">DEG</button>
    <button class="btn btn-function" onclick="appendFunction('1/')" data-value="1/x">1/x</button>
    <button class="btn btn-function" onclick="appendFunction('(')" data-value="(">(</button>
    <button class="btn btn-function" onclick="appendFunction(')')" data-value=")">)</button>
    <button class="btn btn-function" onclick="appendFunction('!')" data-value="!">x!</button>
    <button class="btn btn-function" onclick="appendFunction('cbrt(')" data-value="∛">∛</button>
    <button class="btn btn-function" onclick="appendFunction('%')" data-value="%">mod</button>
    <button class="btn btn-function" onclick="appendFunction('exp(')" data-value="exp">exp</button>
    <button class="btn btn-function" onclick="appendFunction('floor(')" data-value="floor">⌊x⌋</button>
    <button class="btn btn-function" onclick="appendFunction('ceil(')" data-value="ceil">⌈x⌉</button>
    <button class="btn btn-function" onclick="appendFunction('round(')" data-value="round">round</button>
</div>
