<div class="scientific-btns" id="scientificBtns">
    <button class="btn btn-function" onclick="appendFunction('sin(')">sin</button>
    <button class="btn btn-function" onclick="appendFunction('cos(')">cos</button>
    <button class="btn btn-function" onclick="appendFunction('tan(')">tan</button>
    <button class="btn btn-function" onclick="appendFunction('log(')">log</button>
    <button class="btn btn-function" onclick="appendFunction('ln(')">ln</button>
    <button class="btn btn-function" onclick="appendFunction('sqrt(')">√</button>
    <button class="btn btn-function" onclick="appendFunction('^')">x^y</button>
    <button class="btn btn-function" onclick="appendFunction('abs(')">|x|</button>
    <button class="btn btn-function" onclick="appendToDisplay('3.14159')">π</button>
    <button class="btn btn-function" onclick="appendToDisplay('2.71828')">e</button>
    <button class="btn btn-function" onclick="appendFunction('asin(')">asin</button>
    <button class="btn btn-function" onclick="appendFunction('acos(')">acos</button>
    <button class="btn btn-function" onclick="appendFunction('atan(')">atan</button>
    <button class="btn btn-function" onclick="toggleAngleMode()">DEG</button>
    <button class="btn btn-function" onclick="appendFunction('1/')">1/x</button>
    <button class="btn btn-function" onclick="appendFunction('(')">（</button>
    <button class="btn btn-function" onclick="appendFunction(')')">）</button>
    <button class="btn btn-function" onclick="appendFunction('!')">x!</button>
    <button class="btn btn-function" onclick="appendFunction('cbrt(')">∛</button>
    <button class="btn btn-function" onclick="appendFunction('%')">mod</button>
    <button class="btn btn-function" onclick="appendFunction('exp(')">exp</button>
    <button class="btn btn-function" onclick="appendFunction('floor(')">⌊x⌋</button>
    <button class="btn btn-function" onclick="appendFunction('ceil(')">⌈x⌉</button>
    <button class="btn btn-function" onclick="appendFunction('round(')">round</button>
</div>